[submodule "910/metadef"]
	path = 910/metadef
	url = https://gitee.com/ascend/metadef.git
	branch = master
[submodule "910b/metadef"]
	path = 910b/metadef
	url = https://gitee.com/ascend/metadef.git
	branch = master
